In [ ]:
import numpy as np
import boto3
import tensorflow as tf
import pandas as pd
import os
import csv
import cStringIO
! sudo pip install s3fs
import s3fs
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

In [66]:
def sort_pd_df_by_ext_vec(df, ext_sor_vec, cols):
    df_s = df[((df[cols[0]]).astype(int)).isin(ext_sor_vec)] #
    df_s['sort_cat'] = pd.Categorical(df_s[cols[0]],categories = ext_sor_vec,ordered = True)
    if len(cols) > 1:
        df_s.sort_values(['sort_cat',cols[1]] ,inplace = True)
    
    else:
        df_s.sort_values(['sort_cat'],inplace = True) 
    
    df_s.reset_index(inplace = True)
    df_ = df_s.drop(['sort_cat','index'] ,axis = 1)
    
    return(df_)

In [58]:
def trainSamples(viewers,videos,probab,viewerFeat,videoFeat,contxFeat):
    trData = {} # trData = Dictionary with training data. This is histrory of viewer and video iteraction
    X = {} # X  = Dictionary with viewer features as arrays
    Y ={} # Y  = Dictionary with video features as arrays
    for i in range(viewers):
        X[i] = np.random.rand(viewerFeat)
        a = 0 # timing of the video for a particular user,... 
                #to give the order in which the videos have been watched
        for j in range(videos):
            if int(np.random.binomial(1,probab ,1)[0]):
                trData[(i,j,a)] = np.random.rand(contxFeat)
                a+=1 # when a video is watched, we increase the value of a by 1 
            if i==0:
                Y[j] = np.random.rand(videoFeat)
    return X,Y,trData

In [59]:
viewers = 1000  #number of viewers
videos =1000  #number of videos
probab = 0.05  #probability of a viewer watching any one video
viewerFeat = 310  #number of features describing a veiwer
videoFeat = 300   #number of features describing a video
contxFeat = 15 # number of contextual features
# X  = Dictionary with viewer features as arrays
# Y  = Dictionary with video features as arrays
# trData = Dictionary with training data. This is histrory of viewer and video iteraction
X ,Y ,trData = trainSamples(viewers ,videos ,probab ,viewerFeat ,videoFeat ,contxFeat)

In [60]:
user_feat_inp = np.array([X[key] for key in sorted(X.keys())]) 
vid_feat_inp = np.array([Y[key] for key in sorted(Y.keys())])

In [61]:
key_user = np.asarray(range(user_feat_inp.shape[0])).reshape(user_feat_inp.shape[0] ,1)
key_vid = np.asarray(range(vid_feat_inp.shape[0])).reshape(vid_feat_inp.shape[0] ,1)
user_feat_inp_w_key = np.concatenate((user_feat_inp ,key_user),axis = 1)
vid_feat_inp_w_key = np.concatenate((vid_feat_inp ,key_vid),axis = 1)
user_vid_time = trData.keys()

In [62]:
user_feat_inp_w_key_df = pd.DataFrame(user_feat_inp_w_key) 
vid_feat_inp_w_key_df = pd.DataFrame(vid_feat_inp_w_key)
user_vid_time_df = pd.DataFrame(user_vid_time)

In [63]:
rr = user_vid_time_df.sort_values([0 ,2]).reset_index()

In [64]:
h = pd.get_dummies(rr[1],prefix = 'vid_')
y_tr_p_w = pd.concat([rr.reset_index(drop = True), h], axis = 1)
y_tr_p_w.rename(columns = {0: 'user'}, inplace = True)
y_tr_p_w.rename(columns = {1: 'mov'}, inplace = True)
y_tr_p_w.rename(columns = {2: 'rank'}, inplace = True)
y_tr_p_w['desired'] = np.argmax(np.array(y_tr_p_w.iloc[:,4:]) ,1)

In [65]:
max_watch = (y_tr_p_w.groupby('user',axis = 0).sum().iloc[:
                                ,int(np.array(np.where(y_tr_p_w.columns=='rank'))):-1].sum(axis=1)).reset_index()

In [66]:
vid_feat_inp_w_key_df.rename(columns = {300: 'mov_id'}, inplace = True)
user_feat_inp_w_key_df.rename(columns = {310: 'user_id'}, inplace = True)
user_vid_time_df.rename(columns = {0: 'user_id'}, inplace = True)
user_vid_time_df.rename(columns = {1: 'mov_id'}, inplace = True)
user_w_vid_tim_and_feat = user_vid_time_df.merge(user_feat_inp_w_key_df 
                                                 ,how = 'inner',on = 'user_id', sort = False)
user_vid_time_vidfeat_usefit = user_w_vid_tim_and_feat.merge(vid_feat_inp_w_key_df 
                                                             ,how = 'inner' ,on='mov_id' ,sort = False)
user_vid_time_vidfeat_usefit.rename(columns={'2_x': 'time_watch'} ,inplace=True)
user_vid_time_vidfeat_usefit_sorted = user_vid_time_vidfeat_usefit.sort_values(['user_id', 'time_watch'])

In [67]:
tr_users = viewers * 0.8
tr_y = y_tr_p_w[y_tr_p_w['user'] < tr_users]
te_y = y_tr_p_w[~y_tr_p_w['user'].isin(tr_y['user'])]

In [46]:
b = brand_movie_genre.sort_values("conEpIndex")

In [101]:
brand_movie_genre[brand_movie_genre["brand"]=='come-dine-with-me']
#made-in-chelsea
#a-place-in-the-sun

        conEpID  conEpIndex              brand      genre
4     47822_100        2495  come-dine-with-me  Lifestyle
6      50823_10        6533  come-dine-with-me  Lifestyle
8     51382_115        4591  come-dine-with-me  Lifestyle
9     51382_133         338  come-dine-with-me  Lifestyle
31     61824_13        2274  come-dine-with-me  Lifestyle
36      63808_3        5565  come-dine-with-me  Lifestyle
44     51382_23        6192  come-dine-with-me  Lifestyle
45    51383_112        3769  come-dine-with-me  Lifestyle
46    51383_139         786  come-dine-with-me  Lifestyle
47     51383_16        7133  come-dine-with-me  Lifestyle
48    51383_162        7640  come-dine-with-me  Lifestyle
49    51383_207        5853  come-dine-with-me  Lifestyle
56     55242_15        3092  come-dine-with-me  Lifestyle
78     47822_71        4948  come-dine-with-me  Lifestyle
81     50270_17        6644  come-dine-with-me  Lifestyle
82     50270_44        1591  come-dine-with-me  Lifestyle
115    48703_50        2078  come-dine-with-me  Lifestyle
119     51381_3          41  come-dine-with-me  Lifestyle
120   51382_136         272  come-dine-with-me  Lifestyle
125     55243_3        5818  come-dine-with-me  Lifestyle
147    61072_20        5847  come-dine-with-me  Lifestyle
165    46747_44        7143  come-dine-with-me  Lifestyle
171   51383_160        7601  come-dine-with-me  Lifestyle
176    55243_83        1355  come-dine-with-me  Lifestyle
180     58317_8        3012  come-dine-with-me  Lifestyle
189     62451_5        5183  come-dine-with-me  Lifestyle
200    50155_23        4830  come-dine-with-me  Lifestyle
201    51382_55        2075  come-dine-with-me  Lifestyle
205    55242_74        6319  come-dine-with-me  Lifestyle
220     64245_3        1919  come-dine-with-me  Lifestyle
...         ...         ...                ...        ...
7521   50155_30        3104  come-dine-with-me  Lifestyle
7528   55242_57        1838  come-dine-with-me  Lifestyle
7551   50823_15        6630  come-dine-with-me  Lifestyle
7552   51382_90        5678  come-dine-with-me  Lifestyle
7553   51383_80        6340  come-dine-with-me  Lifestyle
7554   51383_99        5143  come-dine-with-me  Lifestyle
7561   55243_25         363  come-dine-with-me  Lifestyle
7562   55243_50        4218  come-dine-with-me  Lifestyle
7569   58318_18        7342  come-dine-with-me  Lifestyle
7582    61072_4         113  come-dine-with-me  Lifestyle
7629   61072_32        4025  come-dine-with-me  Lifestyle
7640   46747_86        1656  come-dine-with-me  Lifestyle
7641   47822_99        7713  come-dine-with-me  Lifestyle
7642    48702_2        2120  come-dine-with-me  Lifestyle
7643   50155_34        3011  come-dine-with-me  Lifestyle
7645   51382_11        3224  come-dine-with-me  Lifestyle
7646  51383_180        3087  come-dine-with-me  Lifestyle
7651  55242_145        2151  come-dine-with-me  Lifestyle
7652   55243_36        2020  come-dine-with-me  Lifestyle
7653   55243_70        1017  come-dine-with-me  Lifestyle
7673    64245_9        1734  come-dine-with-me  Lifestyle
7677  51382_152        3605  come-dine-with-me  Lifestyle
7678   51383_20        5488  come-dine-with-me  Lifestyle
7679  51383_216        4111  come-dine-with-me  Lifestyle
7711   48703_41        3894  come-dine-with-me  Lifestyle
7715    51381_8         298  come-dine-with-me  Lifestyle
7716  51383_183        3013  come-dine-with-me  Lifestyle
7718   55242_98        5343  come-dine-with-me  Lifestyle
7719   55243_12        5254  come-dine-with-me  Lifestyle
7720   55243_88        1627  come-dine-with-me  Lifestyle

[1053 rows x 4 columns]

In [103]:
brand_movie_genre[brand_movie_genre["conEpIndex"]==2495]

     conEpID  conEpIndex              brand      genre
4  47822_100        2495  come-dine-with-me  Lifestyle

In [7]:
num_videos = len(y_tr_p_w.iloc[1,3:-1])

In [8]:
utility_matrix = (y_tr_p_w.groupby('user_id').sum()).reset_index()

In [9]:
utility_matrix = utility_matrix[(utility_matrix["user_id"].isin(user_tr_choice))| 
                                (utility_matrix["user_id"].isin(user_te_choice))]

In [16]:
utility_matrix[:3]

,movie_id,rank,vid__0.0,vid__1.0,vid__2.0,vid__3.0,vid__4.0,vid__5.0,vid__6.0,vid__7.0,...,vid__7729.0,vid__7730.0,vid__7731.0,vid__7732.0,vid__7733.0,vid__7734.0,vid__7735.0,vid__7736.0,vid__7737.0,desired
user_id,,,,,,,,,,,,,,,,,,,,,
0.0,969678.0,28435.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,967779
1.0,936831.0,34710.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,934964
2.0,811861.0,24525.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,810324
3.0,1160869.0,52644.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1158619

In [10]:
utility_matrix_tr  = tr_y.groupby('user_id').sum()

In [11]:
utility_matrix_te = te_y.groupby('user_id').sum()

In [12]:
_utility_matrix = utility_matrix.reset_index().iloc[:,3:-1]

In [13]:
_utility_matrix_tr = utility_matrix_tr.reset_index().iloc[:,3:-1]

In [14]:
_utility_matrix_te = utility_matrix_te.reset_index().iloc[:,3:-1]

In [18]:
n_users = num_users
top_k = 15
top_r = 5
top_l = 10

In [36]:
tf.reset_default_graph()

In [37]:
item_utility_mat = tf.placeholder(tf.float32, shape=[tr_users ,num_videos], name="input_placeholder_a")
top_all_in = tf.placeholder(tf.int32, shape=[num_videos, num_videos], name='sim_mat')
top_k_in = tf.placeholder(tf.int32, shape=[num_videos ,top_k], name="similarity_matrix_k")
top_r_in = tf.placeholder(tf.int32, shape=[num_videos ,top_r], name="similarity_matrix_r")
top_l_in = tf.placeholder(tf.int32, shape=[num_videos ,top_l], name="similarity_matrix_l")

user_desire = tf.placeholder(tf.int32, shape=[None ,1], name="user_des")

In [38]:
normalize_b = tf.nn.l2_normalize(item_utility_mat, 0)
normalize_a = tf.transpose(normalize_b)        
cos_similarity =(tf.matmul(normalize_a, normalize_b))
top_vals_all ,top_all_indice = tf.nn.top_k(cos_similarity, num_videos, sorted=True)
top_vals_k ,top_k_indice = tf.nn.top_k(cos_similarity, top_k, sorted=True)
top_vals_r ,top_r_indice = tf.nn.top_k(cos_similarity, top_r, sorted=True)
top_vals_l ,top_l_indice = tf.nn.top_k(cos_similarity, top_l, sorted=True)

In [39]:
with tf.name_scope('user_accuracy'):
    user_pred_r = tf.reshape(tf.gather(params = top_r_in, indices = user_desire), [-1, top_r])
    to_cast_r = tf.cast(tf.equal(user_desire[1:], user_pred_r[:-1]), tf.float32)
    user_accuracy_r = tf.reduce_sum(tf.reduce_sum(to_cast_r, 1))
    
    user_pred_l = tf.reshape(tf.gather(params = top_l_in, indices = user_desire), [-1, top_l])
    to_cast_l = tf.cast(tf.equal(user_desire[1:], user_pred_l[:-1]), tf.float32)
    user_accuracy_l = tf.reduce_sum(tf.reduce_sum(to_cast_l, 1))

    user_pred_k = tf.reshape(tf.gather(params = top_k_in, indices = user_desire), [-1, top_k])
    to_cast_k = tf.cast(tf.equal(user_desire[1:], user_pred_k[:-1]), tf.float32)
    user_accuracy_k = tf.reduce_sum(tf.reduce_sum(to_cast_k, 1))

with tf.name_scope('mean_reciprocal_rank_with_top_k'):
    user_pred_all = tf.reshape(tf.gather(params = top_all_in, indices= user_desire), [-1,num_videos])
    to_cast = tf.cast(tf.equal(user_desire[1:], user_pred_all[:-1]), tf.float32)
    to_where = (tf.where(tf.equal(to_cast, tf.ones(shape=[tf.shape(to_cast)[0], 1]))))[:,1]

In [25]:
np.diag(cos_sim)

array([ 1.00000024,  0.99999976,  0.99999964, ...,  0.99999982,
        1.00000012,  0.99999976], dtype=float32)

In [45]:
cos_sim

array([[ 1.00000024,  0.03187074,  0.06234039, ...,  0.02825039,
         0.04507203,  0.0495001 ],
       [ 0.03187074,  0.99999976,  0.04445541, ...,  0.04029115,
         0.03214122,  0.        ],
       [ 0.06234039,  0.04445541,  0.99999964, ...,  0.03940551,
         0.        ,  0.0276184 ],
       ...,
       [ 0.02825039,  0.04029115,  0.03940551, ...,  0.99999982,
         0.05698029,  0.        ],
       [ 0.04507203,  0.03214122,  0.        , ...,  0.05698029,
         1.00000012,  0.05990423],
       [ 0.0495001 ,  0.        ,  0.0276184 , ...,  0.        ,
         0.05990423,  0.99999976]], dtype=float32)

In [72]:
brand_movie_genre["conEpIndex"] = brand_movie_genre["conEpIndex"].astype(int)

In [58]:
black_mirror = list(t_k_idx[512,:])

In [80]:
count_down = t_k_idx[5006,:]

In [104]:
come_dine_with_me = t_k_idx[2495,:]

In [113]:
my_mad_fat_diary = t_k_idx[6669,:]

In [70]:
black_mirror = np.array(black_mirror)

In [109]:
black_mirror_trial = (brand_movie_genre[brand_movie_genre["conEpIndex"].isin(black_mirror)])

In [105]:
come_dine_trial = (brand_movie_genre[brand_movie_genre["conEpIndex"].isin(come_dine_with_me)])

In [81]:
count_down_trial = (brand_movie_genre[brand_movie_genre["conEpIndex"].isin(count_down)])

In [114]:
my_mad_fat_trial = (brand_movie_genre[brand_movie_genre["conEpIndex"].isin(my_mad_fat_diary)])

In [115]:
sort_pd_df_by_ext_vec(my_mad_fat_trial, my_mad_fat_diary, ["conEpIndex"])#[["brand","genre"]]

     conEpID  conEpIndex                   brand      genre
0    50688_3        6669        my-mad-fat-diary      Drama
1   63432_19        6635           four-in-a-bed  Lifestyle
2    49114_2         515            black-mirror      Drama
3    49114_3         512            black-mirror      Drama
4    26408_3         518   the-adam-and-joe-show     Comedy
5   61486_48         639      kotv-boxing-weekly     Sports
6   44894_21         958       come-dine-with-me  Lifestyle
7    62623_9        1123                      10      Drama
8    58580_3        2108  married-at-first-sight    Factual
9   61824_18        2529       come-dine-with-me  Lifestyle
10   64140_7        2578        celebs-go-dating    Factual
11   36506_7        2611    room-for-improvement  Lifestyle
12  50270_27        4931       come-dine-with-me  Lifestyle
13  55221_39        5716           four-in-a-bed  Lifestyle
14  45816_16        6220       come-dine-with-me  Lifestyle

In [65]:
(brand_movie_genre[brand_movie_genre["conEpIndex"].isin(black_mirror)])#[["brand","genre"]]

,conEpID,conEpIndex,brand,genre
483,62521_2,3062.0,stand-up-to-cancer,Entertainment
1347,61593_3,2006.0,drifters,Comedy
2132,56772_1,1115.0,double-your-house-for-half-the-money,Lifestyle
3660,63432_19,6635.0,four-in-a-bed,Lifestyle
3999,51383_71,2750.0,come-dine-with-me,Lifestyle
4080,53564_16,4708.0,unreported-world,Factual
4215,64970_1,2553.0,no-limit,Drama
4743,61830_13,2600.0,food-unwrapped,Factual
5294,49114_3,512.0,black-mirror,Drama
5491,50688_3,6669.0,my-mad-fat-diary,Drama
5844,49114_2,515.0,black-mirror,Drama
6016,44894_21,958.0,come-dine-with-me,Lifestyle
6216,55221_39,5716.0,four-in-a-bed,Lifestyle
6276,61486_48,639.0,kotv-boxing-weekly,Sports
7404,27470_6,2303.0,black-books,Comedy

In [40]:
sess = tf.Session()
t_r_idx, t_k_idx, t_l_idx, t_all_idx ,cos_sim = sess.run([top_r_indice 
                                      ,top_k_indice, top_l_indice , top_all_indice, cos_similarity], 
                                     feed_dict={item_utility_mat: _utility_matrix_tr})

In [41]:
with open('col_filter_item.csv', 'wb') as csvfile:
    wr = csv.writer(csvfile, delimiter='\t', lineterminator='\n')
    use_accu_r = []
    use_accu_l = []
    use_accu_k = []
    use_mrr = []
    for user in (te_y["user_id"].unique()):
        _user = (te_y[te_y['user_id']==user]['desired']).reshape(-1, 1)
        pred_k, tr_mrr, acc_r, acc_k, acc_l  = sess.run([user_pred_k,to_where, user_accuracy_r, user_accuracy_k, user_accuracy_l]
                                                , feed_dict = {top_r_in: t_r_idx
                                                      , top_k_in: t_k_idx, top_l_in: t_l_idx, 
                                                                                 top_all_in: t_all_idx,  
                                                                                  user_desire: _user})
        
        use_mrr.append(tr_mrr)
        use_accu_r.append(acc_r)
        use_accu_l.append(acc_l)
        use_accu_k.append(acc_k)
        wr.writerow([acc_r])
        wr.writerow([acc_k])
        wr.writerow([tr_mrr])
    print ('Accuracy k:', sum(use_accu_k) / (te_y['desired'].shape[0]) )
    print ('Accuracy l:', sum(use_accu_l) / (te_y['desired'].shape[0]) )
    print ('Accuracy r:', sum(use_accu_r) / (te_y['desired'].shape[0]) )
    print ('MRR:', use_mrr )

/usr/lib/python2.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

('Accuracy k:', 0.5112760684824551)
('Accuracy l:', 0.48397134871510528)
('Accuracy r:', 0.41590757358016589)
('MRR:', [array([   4,    6,    7,  950, 1338, 1157, 1747, 5431, 3938,    2,    2,
          1,    3,   60,    1,    2,    1,  333, 2798, 6280,  200,    1,
        258,    1,    1,    1, 1147,    2,    2,    4,    3,    1,    2,
          3,   11, 1718, 2915,  157, 2466,  884,    1,    2,    2, 2031,
         11,   19,    4,   48, 7289, 2697, 2371,    1,    1,    2,    6,
          3,    1,    3,    5,    3,    3,    1,    2,    2,   10,    1,
          2,    9,   15,    1,    2,    2,    1,    6,    1,    1,    3,
          2,    1,    2,    4,    2,    1,    3,  199,    1,    2,    2,
         54,    1,    3,    1,   19,   78,    1,    1,    2,    3,   10,
          1,    1,    2,   21,    2,    4, 5480, 4462,    2,    1,    4,
         16,    1,    2,    1,    3,    7,    2,    4,   21,    2,    1,
          2, 2164, 3152,    7,    1,    2,    3,    5,    1,    1,   20,
       1263,  510,  139, 3857,   27,    1,    1,    2,    8,    3,    3,
       1529, 3715,    3,    7,    1,    2,    2,    7,    1,    1,    3,
         37,    1,    2,    1,    2,   12,    1,    1,    2,  138, 2670,
          1,    1,    1, 2402,    1,    2,    2,    8,    1,    1,    1,
          6,    2, 2429,   97,    3,   37, 2229,    1,    1,    1,    4,
          6,    2, 4399,    2, 3779,  124,    4,    3,    4,  902,  250,
         56,    1,   23,    1,    2,   14,   64]), array([   1,    1,    1,   67, 1750, 6043,  123, 1098,    2,    2,    2,
         15,    1,    3,    2,  127,  477,    1,    2, 1337,    1,  764,
          2,    7,    4,    6,    5,    3,    3,  536,    1,   22,    1,
          2,    1,    2,  447,    1,    3,    3,  238,    4,    1,    5,
          1,    1,    2,    3,  148,    1,    5,  235,    2,    1,  637,
          1,    3,    1, 2331, 3744, 3631, 1454,    2,    4,    2,    2,
          5,    1,    4,    1,    1,    2,  496,    1,    3,    1,    2,
          1,    1,    1,    2,    4,    1,    1,    2,    4,    1,    5,
          1,    3,   10,    2,    4,    3,   15,    1,    2,    3,    2,
        172,    1,    1,    1,  433,    1,    2,    1,   29,  474,    3,
       1207,    1,    2,    2,   31,   11, 1841,    1,    2,    2,    1,
          7,    1,    2,    2,  114,  496,    2,    3, 6878,   13,    3,
         50,    3,   13, 3065, 2583, 2128,    3,    9,   23, 5345, 5411,
       5400, 5394, 5393, 2515,    1, 6856, 2827,  262,    1,    4, 2107,
        856, 2268,  877,  325, 1484, 7024, 7530, 3256, 2364,    1, 2289,
          2,    1, 6249, 2380,  393, 3395,    8,    4,    4,   13,    1,
         14,    8,   22,   34, 3143,    2, 7045,    1,    2,    2, 1618,
          1, 2709,    4,    1,    2,    4,   83, 1667,    2,    1,    2,
          7,    2,    4,    6,    1,    3,    1,    4,   15,    1,    3,
          4,    1,    3,    6,    1,    2,    3,  184,  453,   39, 4312,
          1,    5,    2, 1303]), array([ 682, 2069,   12, 2491,  273,  106, 6471,  278,   76, 2414, 2366,
       2343, 2692, 1839,    1, 3171,   60,  509, 1060, 2505,    1,    4,
        598, 4290,  108,   82, 3377,   74,  130,  235, 6073,    4, 2139,
        529, 1447, 2359, 1467, 2692, 2590, 7331, 6800,    2, 6374, 1442,
       3311,    1,    2,    3,   23,    2,    2,    3,   28,    1,    2,
          2,   40,    3,    2,   61,    1,    1,    3,   83,  100,    1,
          3,    1,    2,  160,  114,    1,  254, 3522, 4321,    1,    1,
          2,  303,    3,    1,   72,    1,    1,    4,  114,  109,  102,
        125,    2,    4,   29,    1,   21,    1,    2,    3,  141,  125,
          1,    3,   93, 3262, 2330,    1,    2,    2,    3, 7422, 7577,
          2,    4,  153,  317,    3,  364,  283,    2,    2,    1,    2,
        161,    3,  100,   25,    2,    2,    4,  380,  445,    1,    2,
          3, 4373,   24,  231, 1301,    1,    3,  350,    1,    2,  225,
       4449, 6225,  284, 1079,    1,   20,  111,  276, 1357, 1445, 1096,
          1, 3775, 3620,    1,    3,  221,    1,    4,    2,    4,   46,
       1948, 1852, 2752,  738,  746, 2699, 3112,   60,    1,    3,    2,
       3607, 2210, 2368, 2677, 2183,  346,   79, 1705, 3536, 1088,    1,
          1,    2,  954,  412,  610, 2352,  652, 1886,    2,    3, 3989,
       1788, 7275,    9,    4,    8,    1, 7473,   16, 5134,   67,  212,
        255,  987,  299, 1260, 3219, 3017,    1, 4048, 4356,    4,  206,
          1,    2, 1245, 1070, 1431, 1959, 2502,   12,    2,    1,    9,
          1,    1,    3,    2,    9,    1,    2,   16,    1,    8,    2,
          8,  100,  516, 2763,   19,    2,    1, 3632, 1458,   14,    1,
       1097,  526,  644,    1,    2,    7, 3391,    1,   83, 2933, 1597,
        767, 2865, 1802, 5169,  521,  482,  927,   81,   70, 4562,    3,
       2628,  385,  457, 4572,    1, 3447,   60,  216,  157,  187, 3689,
        155,  849,    1,  171]), array([3376, 3049,    1,  199, 3943, 3954,    1,    1,    3,    2, 2065,
          1,    1, 3926, 6845,    2,    6,    6,    7,    2, 4375, 4218,
         25, 1834, 1714, 2450,    2, 3462,    1, 2003, 1528,  846, 5206,
          1,    1,    2,   30,    1, 2945, 4280, 3390,  292, 5066, 3902,
        536,  291,    3, 4411, 1235,    1,  971, 2197, 1009,  526, 1571,
          1,  185,  486,   49,  184,    1,  168,  131,  169,   85,    1,
        266,   31,  212,  107,  835, 1364,  181,   67,    1,  382,    4,
        803,  432,  248,   10,  143,  162,    1,    1,    2,  348,  196,
       1022,    7,    5,    1, 1315,    3,  392,    2,   18,  165,    3,
         23,   54,  592,    2,  254, 3037, 2963,    3,    5,    4,  177,
          2,  118,    1,    4,    2,    2,  184,   25,   72, 2500,   11,
        285,   64,  558,  608, 1232,    1,   10,    2,   15,    2,    9,
          3,   91,  546,  138,  218,    1,    1,    2,  346,   96,   41,
        182,  251,  111,    1,  466,    1,  394,  979,    1,    1,    4,
       1589, 3004,    3,  372,   14,    2,    1,  967,    5,  264,   60,
       1372,  352,  328, 2157, 3225,    3,    1, 2366,    3,   36,  229,
       1233, 2469,    6,  275,  457,    9,  330,  441,    2, 2355,    4,
        339, 2210, 2237,    1,    8,    2,  419,    1,  641,  405,  591,
        524,  716,  340,  329,  512,    1,  674,    1, 3103,   43,   51,
          1,    2, 2202,    3,    2,  409,  190,    5,    2,    4,    2,
          1,    1,   30,    1,    1,    3,    7,  359,  130,  241,    1,
          2,    2,    3,    3,    1,    6,    3,    1,    1,  196,  341,
        457,    4,    1,  241,  347,    7,  297,  635,  163,  160,    1,
          1,    2,    3,    3,    2,  330,    1, 2702, 7193,    1,    1,
          4,    1,   12]), array([   2,    1,    2,    7,    1,    4,    3,    2,    9,  375,  264,
        166, 1136,  415,  569,    1,  208,  109,    3,    1,  223,  115,
        165,   81,    3,    1, 3152, 4671,  797,    2,   24,   19,    4,
        160, 6550,   10, 3983,    7,  478,    3,   22,  165,  288,  152,
          1, 1445,    1,    1,    3, 2112,    7,    0,    3,    1, 2450,
        868,  242,    1,    1,    2,    1,    4,    6,    7, 1068,  341,
         50,  127,    1,    2,  165, 1772,  569,  546,  675,  697, 1327,
          2,    1,    3,  238, 4194,  114,    2,   12,    2, 1404,   19,
       2759,    4,  237,   45,    1,  525,    2,   10, 1638,    1,    4,
          1,    2,    1, 2660, 2864,  682,   86, 6247, 6967, 2074,  180,
       6441,    2,    1, 3274, 6175, 2250,    2,    2,    2,    1,  333,
        175,    3,    3,  619,    1,    2,  905,    1,    2,  856,  253,
       1548,  421,    1,    5,    1,    3,    2,   22,  863, 2042,    3,
       6863,    1,    2,    1,  245,  189,    1,    1,    3,    1,  366,
          2,   10,    2,    2,   64,    1,    3,   24,  865,    2,    3,
          1,    1,    4,    3,    3,  347,    2,  141,    1,  169,   88,
          5,    1,  691, 1439,    7,    6,  288,  194,  449,    1,  140,
          1,    3,    1,    2,    8,    1,    5,    2,    1,  334,   25,
          1,  175,    2,   34,   18,    2,    5,   30,    1,    2,    5,
         72, 1708,    3,    2,    2,    2,    2,    1, 1185,    3,    2,
          4,  481,   21,  304,   12]), array([ 291, 1595, 3796,    3,    1,    4, 6087, 5487,    6,    1,    1,
          2,    4,    5,    5,    1,    1,    6,    1,    1,  427, 1213,
          4,    9,   22,   30,  134,  245, 4947,    7,    1,    5,  300,
        825,    2,  221,    1,   20,   42,    2,    1,  878,    6,   19,
       1721,    1, 4564,    2,  905,    4, 1959,  110, 6288,   34,    6,
          1,   10,   12,    9,    1,    2,   11,    3,    7,   56,    1,
         63,    1,    1,    2,   33,    8,    4,   16, 2139, 1089,  188,
        370, 6214,   94, 1948,  205, 1033,   34,    5,   17,   31,    7,
         11,    5,  108,    7,    2,    5, 2336,  588,  239, 1606, 3570,
        101, 5954, 1268, 1312, 4967,    3,    1, 5163, 2522, 1271,  449,
       3704,    1, 2470, 1500, 3490,  564,   37, 2178, 1932,    1,    1,
         12,  371,    2,    1,    3, 1006,    6,    2,    6,   15,   12,
          1, 6495,  137,  730, 1177,   74,  118,  309, 4261, 1404, 1620,
       3175, 2397, 7146, 3008,    1,  168,    6, 1025, 5834,    3,    5,
          2, 2014,    2,  750,  958,  253,  330,  244,  203, 6162, 3253,
          1,    1,  892,  219,   93,    1,    2, 3118,   14, 1474,    1,
          4,    5,    4,    1, 1278, 1424,    5,    1,    1,    1,    1,
          4,    1,    1,    2,    3,    2,    4,   13, 1957, 1039,    5,
          9, 2489,    1,    4,    1,    6,    4,    1, 3295, 4471, 3154,
         18,   13,   43,   43,  681,    1,   56,   39,  131,    3, 1083,
          1,    2,    4,    1,    3,    1,    3,  225,  232,   18,   10,
       3528,    1]), array([  45,    3,    4,    1,   32, 5121,    2,    1,   47, 4347,  167,
        784, 1143,   85,    1,    2,    1,    3,  164,  311,   28,  297,
       4040, 4073,  192,   96,    4,    2,    2,  184,   25,  261,    6,
          2,    1,  166, 1753,    9,   81,    2,  143,  197,    2,  233,
         66,    1,    4, 1183,  300,    1,    3,  170,   17,  119,    8,
          1,    1,    1,    5,    1,    3,    2,   22,  180,  497, 3171,
          1, 2803,  153,    1,    2,    3, 1710,    5, 4204,    1,  171,
          2,  261,    1,  194,    1,    1,    2,    1,  226,  168,  192,
          1,    1,    3,  215, 1812,    9,  508,  569,    1,    3,  358,
        410,    1,  306,  419,    3,    1,    1,    4,  167,   30,    3,
        337,  952,    6,    1,  970, 2264,   12,    9, 1627, 1695,   11,
          3,  548,    1, 1324,   98,   79,  780,    1,   63,    1,  811,
       1124,    2,   33,    8, 2829, 1434,    2,    4,    8,  212, 1168,
          1,   65,    5,    1,    2,    4, 2655,    2,    1,    6,  211,
       2741,   58,    1,    2,    3,  431,    1,    4,  173,    2,  252,
          1,    3,  393,  591,    1,    7,    2,    1,  189, 5277, 2562,
        843,    1, 3552,  150,    1,    3,    4,  136,    4,   13,  353,
        257,  353,  203,  403,   21,    1,    1,    2,    3,    3,   10,
        194,  268,   12,  244]), array([ 451,   79,   47,  214, 2618, 1016,  233,  535,  293,   52,   26,
         54,   30,   29, 1345,   39,    3,    1,    4,    2,    3,    1,
          8,   35,   10,   10,    7, 2071,   93,  924,  881,    1,    1,
          2,    1,   17,  176,   11, 1729, 1915, 2012,    1, 1578,    2,
          3,    3,  618, 1437,    1,    2,   56,   43,    1,    3,    1,
          3,  378,   66,  556, 1673,   17,  654, 2790,    3,    2,  739,
       4116,    1,    4,    3,    1,    1,    9,    1,    5,    1,    3,
       1449,  243,  254,  382,  108, 6607,    1,    2,    1,    5,   27,
         74,    1,  396,  116, 1581,  913,   58,    1,  450,  566,    1,
       2253,   42,   11,    1,  136,  114, 3212, 1868, 1643, 2281,    2,
       1614,    6, 1897,  163,  335,    9,  117,   52,   32,   45,  111,
       1236,    1,  345,   10,  320,    1,   84,  968,  151,  145,  339,
         41,   67,  189,    1,    2, 1065, 1698,    1,   31,  465,   31,
        730,    1,    1,    3,    1,   29,    1,    3,   63,  492, 1706,
         11,    1,  821,    3, 5031,    1,    6,   69,    1,    4,    1,
       6471,  191,  394,    1,    4,    1,    2, 1672, 2084,  273,  127,
          3,  324,    2,   72, 2862,   88, 2867, 1150,  171, 1257,  748,
        364,  125,  836, 5129,  181,  122, 1873,    1,    1,    3, 1957,
        854, 1034,    2,  309,  419,  690,    2, 2225,  143,  287,  182,
        557,    4,    3,  937, 2518,    1,  877,    1,    2,    3,   65,
         45,   43,  193,  677,    1,    2, 1972, 1294,  159,    1,   63,
        309,  221,   95,   46,  847,   21,  144,    1, 2421,  414,  114,
          1,   79]), array([   1,    2,    2,    2,  337,  116,  332,  106, 1592, 1000,    1,
       2288,  962,   77,  406,  229,  260,    1,   89,    1,  181, 2020,
         82,    4,  550, 6260, 5975, 1669,  946, 3003, 1417,    4, 2414,
          1,    1,  442,  976,    1,    2, 1124,  907,    2,    1,    3,
        585,    3,    8, 4824, 7259,    1,    2, 7365,    1,   18,   29,
        104,    1,    2,    2,    1, 2364,    2,  965,  202, 1992,    1,
          2,  188,  636, 4113,    1,  553, 1525,    2,    3,    1, 5954,
        334, 3415, 6101, 6126,    2, 3426, 3167,    2, 2447, 2292,  757,
       1130,    6,  503, 3316,    2,  353,    2,    4,  892,    9,  726,
        680,    8,  927,  546,  932,  571,   19,  398,  474, 1149,   12,
          4,  548, 2047,   29,    8,    4,  744, 3798, 3957,    1,  884,
       1258,    1,  661, 2148,  863,  832,  839,  502,  606,  243,    1,
          2,  448, 1750,  670, 2886,    2, 6988, 2215,   17, 1550, 7671,
       4252,   17,    8, 3292,  344, 1407, 1101,    1,    1,    2, 1992,
        520, 1440, 2134, 3180,  811, 1659,    1,  302,    1, 1319, 1431,
       1612, 4467, 1241,  342,  704, 2394,  583, 4490, 1816,    2, 3731,
        715,  609, 3069, 1387,    3, 1128,    1, 3410,  162, 2224,   23,
        297,  227,  328, 2717,  516,  306,  314,    1,  219,   62,   15,
          9,   13,  421,  531,    1, 1093,  320,    1, 1042, 2270,   67,
        398, 1700,  110,    1,  217,  234,  398,  548]), array([   1, 7539, 3244,    1,    2,    2,    8,    2,    3,   12,    1,
          6,    1,    1,   10,  161,    1,    1,  192,   99,    3,    1,
          1,  259,   64, 1014, 1261,    5,    1,    7, 3371, 2393,  337,
         85,  324,    1,  758, 2308,  586,    1,    3,    3,  631,   39,
         25,  538,  706, 5820,  586,    6,  110, 2085,  715,    1,    4,
          9,   10,  589,  287,  814, 1021,    1,   72,    6,  186,    1,
       1029,  453,  354,    2,    2,    2,    1,    4,    2,    1,    3,
        285,  176, 2334,    8,  315,  243,    1,    3,    2,   13,    1,
       1132, 1882, 1325,   32,    8,  631,  847,    2,    1,  400,    1,
          1,    4,    1,    1,    3,    1,  294,   35,   41,   93, 2950,
        115,  777,  817,   94,  226,  503,    3,  575,   99,  154,    3,
          3, 6207,   19, 2557,    1,    2,    1,    3,    1,    8,    2,
          1,    5,    2,    3,    1,   21,  811,  136,  540,    2,    1,
        505,  179,    1,   36,    7, 1726,  391, 1447,    1, 1218,   76,
          4,  244,    3,  415,   52, 1840, 3712,    5,    2, 1435, 2133,
       1954, 3018,    3,    4,    1,    4,    1,    1,   39,  163,  132,
        208,    1,    1,   17,    3,  579,  735,  115,    2,    4,    1]), array([  1,   2,   2,   1,   2,   3,  72,  56,   1,   2,   3,   4,   9,
         1,   2, 205,   1,   2,   1,   1,   3,   1,   1, 181,   1,  51,
         4,   1,   4,   5,   3,   5,   2,   7,   5,   1,  18,   1,   2,
         3,   4,   1,   1,   3,   8,   1,   1,   1,   5,   1,   3,   2,
         5,   2,   7,   2,   2,   1,   2,   6,   1,   3,   3,   3,   7,
         1,   1,   1,   4,   8,   1,   2,   9,   4,   2,   1,  34,   1,
         2,   1,   9,   1,   1,   1,   2,  13,   1,   3,   1,   2,   5,
         3,   2,   1,   2,   8,   8,   1,   3,   2,   1,   6,   3,   2,
         1,   5,   3,   1,   1,   2,  58,  13, 247,   1,   2,   2,   1,
         3,   7,   1,   3,   6,   2,   1,   2,   2, 835, 817,   1,   1,
         6,  13,   6,   5,  22,  53,   1,   1,   1,   5,   1,   1,   2,
         1,   8,   1,   2,   3,   5,   1,   1,   2,   3,  10,   1,   2,
         2,   4,   1,   2,   2,   2,  21,   1,   2,   4,   1,   5,   2,
         4,   9,   1,   1,   1,   2,   7,   1,   4,  14,   1,   1,   3,
         1,  11,   2,   1,   3,   1,  17,   1,   1,   2,   1,   7,   1,
         2,   4,   1, 446,   2,   5,   1,   3,   2,   4,   1,   2,   1,
         2,   3,   1,  27,  23,   1,   2,   1,   5,   4,   1,   1,  15,
        13,   1,   1,   4,   1,  11, 235,   3, 112, 401, 620,   2,   2,
         1, 764,   2,   3, 393, 679,   1, 216,   1, 227,   4,   2,   7,
         1,   2,   1,  12,   1,   2,   3,   4,   1,  14,   1,   3]), array([   3,    3,    2,    1,    2,    3,  352,    1, 1573,  869,   70,
        614,  830,   74,  896,    2, 2015,  388,  452,   48,  251,    1,
          1,    3,    1,  266,    3,  481, 1885,   59, 1323,   21,   11,
         19,   18,    2,    7,   15,    3,   34, 1721,  236,    1,    2,
          3,  313,  495,  583,    1, 1194,    1,    1,   11,    2,    3,
        387,  145, 5500,    6,    1, 4685,  627,   16,   90,    2,    3,
         84, 1493,  450, 4345, 7535,    5,    1,  502, 2353,  950,    2,
          1,    2,    2, 2504,   86,    1,    1,  226,  985,    1,    2,
          3,    1,    3, 4606,  471,    1,  403,  804,    6,    4,  217,
        735,   53,    1,   18,   96,  680,    2,    3,    1,    6,    1,
          1,    8,  783,   12, 4206,  858,  380, 1514,  381, 1244,    1,
        149,  153,    6,  571,  649,  283,  873,   19,    1,    3,    6,
          2,    3,    8,  270,   37, 1158,    1, 1049,  230,  479,   54,
        197,  200,  353,  226,  674,  560,   46,  108, 1038,  373,  160,
         52,   93,   43,   38, 1356,  932,   37,   30,   68, 7631,    1,
       1456,   77,    1,  151,  568,    1,  474,  894, 1437, 1949, 2847,
          2, 4717,    4, 1212, 2973, 1630,    3,    7,   98,    1,    2,
          4,    1,    3,    1,    3, 3017, 4632, 3337,    2, 5815,    1,
          2,    5,    2,    1,  232,  649,    2,    1,    4,  464,  554,
          3,    2,  383,    1,    1,  428,  201,  805,  211,  406,  281,
       2626,  292,    1, 1351,  494,    1,  711,  320, 3100,  158,   61,
          1,   87, 1184]), array([4236, 5982,    3,   82,   46,    3,   17,    3,    6, 5450, 2579,
        733, 6909,  124, 1385,  249,    3,  718,    2,  493,  530, 2176,
          4,    1, 1236,  894,  160, 5071,  190, 1033,   33,   26,   38,
          1, 7470, 2132,    1,    1,    3,    2,    3,    1, 6828, 1398,
        791,    1,    1,    2, 3220,    2,    1,    2,    2,    1,    2,
          3,    1,    7,    9,    1,    8,    2,    1,    6,   19,    4,
          1,    1,    2,    2,    1,    2,    8,  351,  668, 4791,   68,
          1,    1,    5,    3,    7,    1,    3,   10,    5,    1,    2,
          5,    4,    3,    3,    2, 2712, 4134,    1,    2,    4,    2,
          1,    3,    3,    1,    3,    6, 6368,    4,    1, 4743,    1,
          1,    1,    6,    1, 6753,    1,    7,    1,    1,    3,    2,
          7,    1,    2,    1,    2,   29, 5104, 3034,    4,    1,    1,
       5981,    3,    8, 7037,  499,  390, 4988,    1,    3,    3,    5,
          3,    3,    1,    4, 2231,    1,    1,    1,    3,    1,    3,
        391, 1029,    1, 1503, 1786,    4,  510,  414,   20,    2,  708,
        959, 3234,    2,    2,    5, 6073,    1, 1080, 3744,    1, 1358,
       6772,    1, 1938,  706, 4519, 4957, 2833, 7528,    2, 4914, 1711,
          1,    1,    2, 1206,    1, 2540, 1876,    1,    3,    1, 2264,
          2,  703, 1216, 5178, 4367, 3001,   49, 5909,    4, 1475, 3820,
          2,    2, 1202,    3,    6, 1618,    2,    1,    2,    4,   11,
          7,    4,    2,    4,    5,    1,  974,    1,    4,    1, 3415,

In [118]:
use_mrr[1]

array([   1,    1,    1,   67, 1750, 6043,  123, 1098,    2,    2,    2,
         15,    1,    3,    2,  127,  477,    1,    2, 1337,    1,  764,
          2,    7,    4,    6,    5,    3,    3,  536,    1,   22,    1,
          2,    1,    2,  447,    1,    3,    3,  238,    4,    1,    5,
          1,    1,    2,    3,  148,    1,    5,  235,    2,    1,  637,
          1,    3,    1, 2331, 3744, 3631, 1454,    2,    4,    2,    2,
          5,    1,    4,    1,    1,    2,  496,    1,    3,    1,    2,
          1,    1,    1,    2,    4,    1,    1,    2,    4,    1,    5,
          1,    3,   10,    2,    4,    3,   15,    1,    2,    3,    2,
        172,    1,    1,    1,  433,    1,    2,    1,   29,  474,    3,
       1207,    1,    2,    2,   31,   11, 1841,    1,    2,    2,    1,
          7,    1,    2,    2,  114,  496,    2,    3, 6878,   13,    3,
         50,    3,   13, 3065, 2583, 2128,    3,    9,   23, 5345, 5411,
       5400, 5394, 5393, 2515,    1, 6856, 2827,  262,    1,    4, 2107,
        856, 2268,  877,  325, 1484, 7024, 7530, 3256, 2364,    1, 2289,
          2,    1, 6249, 2380,  393, 3395,    8,    4,    4,   13,    1,
         14,    8,   22,   34, 3143,    2, 7045,    1,    2,    2, 1618,
          1, 2709,    4,    1,    2,    4,   83, 1667,    2,    1,    2,
          7,    2,    4,    6,    1,    3,    1,    4,   15,    1,    3,
          4,    1,    3,    6,    1,    2,    3,  184,  453,   39, 4312,
          1,    5,    2, 1303])

In [120]:
len(use_mrr)

364

In [141]:
mean_mrr = []
for user in range(len(use_mrr)):
    mean_mrr.append(np.percentile(use_mrr[user],50))

In [153]:
np.mean(mean_mrr)

106.27060439560439

In [149]:
use_mrr

[array([   4,    6,    7,  950, 1338, 1157, 1747, 5431, 3938,    2,    2,
           1,    3,   60,    1,    2,    1,  333, 2798, 6280,  200,    1,
         258,    1,    1,    1, 1147,    2,    2,    4,    3,    1,    2,
           3,   11, 1718, 2915,  157, 2466,  884,    1,    2,    2, 2031,
          11,   19,    4,   48, 7289, 2697, 2371,    1,    1,    2,    6,
           3,    1,    3,    5,    3,    3,    1,    2,    2,   10,    1,
           2,    9,   15,    1,    2,    2,    1,    6,    1,    1,    3,
           2,    1,    2,    4,    2,    1,    3,  199,    1,    2,    2,
          54,    1,    3,    1,   19,   78,    1,    1,    2,    3,   10,
           1,    1,    2,   21,    2,    4, 5480, 4462,    2,    1,    4,
          16,    1,    2,    1,    3,    7,    2,    4,   21,    2,    1,
           2, 2164, 3152,    7,    1,    2,    3,    5,    1,    1,   20,
        1263,  510,  139, 3857,   27,    1,    1,    2,    8,    3,    3,
        1529, 3715,    3,    7,    1,    2,    2,    7,    1,    1,    3,
          37,    1,    2,    1,    2,   12,    1,    1,    2,  138, 2670,
           1,    1,    1, 2402,    1,    2,    2,    8,    1,    1,    1,
           6,    2, 2429,   97,    3,   37, 2229,    1,    1,    1,    4,
           6,    2, 4399,    2, 3779,  124,    4,    3,    4,  902,  250,
          56,    1,   23,    1,    2,   14,   64]),
 array([   1,    1,    1,   67, 1750, 6043,  123, 1098,    2,    2,    2,
          15,    1,    3,    2,  127,  477,    1,    2, 1337,    1,  764,
           2,    7,    4,    6,    5,    3,    3,  536,    1,   22,    1,
           2,    1,    2,  447,    1,    3,    3,  238,    4,    1,    5,
           1,    1,    2,    3,  148,    1,    5,  235,    2,    1,  637,
           1,    3,    1, 2331, 3744, 3631, 1454,    2,    4,    2,    2,
           5,    1,    4,    1,    1,    2,  496,    1,    3,    1,    2,
           1,    1,    1,    2,    4,    1,    1,    2,    4,    1,    5,
           1,    3,   10,    2,    4,    3,   15,    1,    2,    3,    2,
         172,    1,    1,    1,  433,    1,    2,    1,   29,  474,    3,
        1207,    1,    2,    2,   31,   11, 1841,    1,    2,    2,    1,
           7,    1,    2,    2,  114,  496,    2,    3, 6878,   13,    3,
          50,    3,   13, 3065, 2583, 2128,    3,    9,   23, 5345, 5411,
        5400, 5394, 5393, 2515,    1, 6856, 2827,  262,    1,    4, 2107,
         856, 2268,  877,  325, 1484, 7024, 7530, 3256, 2364,    1, 2289,
           2,    1, 6249, 2380,  393, 3395,    8,    4,    4,   13,    1,
          14,    8,   22,   34, 3143,    2, 7045,    1,    2,    2, 1618,
           1, 2709,    4,    1,    2,    4,   83, 1667,    2,    1,    2,
           7,    2,    4,    6,    1,    3,    1,    4,   15,    1,    3,
           4,    1,    3,    6,    1,    2,    3,  184,  453,   39, 4312,
           1,    5,    2, 1303]),
 array([ 682, 2069,   12, 2491,  273,  106, 6471,  278,   76, 2414, 2366,
        2343, 2692, 1839,    1, 3171,   60,  509, 1060, 2505,    1,    4,
         598, 4290,  108,   82, 3377,   74,  130,  235, 6073,    4, 2139,
         529, 1447, 2359, 1467, 2692, 2590, 7331, 6800,    2, 6374, 1442,
        3311,    1,    2,    3,   23,    2,    2,    3,   28,    1,    2,
           2,   40,    3,    2,   61,    1,    1,    3,   83,  100,    1,
           3,    1,    2,  160,  114,    1,  254, 3522, 4321,    1,    1,
           2,  303,    3,    1,   72,    1,    1,    4,  114,  109,  102,
         125,    2,    4,   29,    1,   21,    1,    2,    3,  141,  125,
           1,    3,   93, 3262, 2330,    1,    2,    2,    3, 7422, 7577,
           2,    4,  153,  317,    3,  364,  283,    2,    2,    1,    2,
         161,    3,  100,   25,    2,    2,    4,  380,  445,    1,    2,
           3, 4373,   24,  231, 1301,    1,    3,  350,    1,    2,  225,
        4449, 6225,  284, 1079,    1,   20,  111,  276, 1357, 1445, 1096,
           1, 3775, 3620,    1,    3,  221,    1,    4,    2,    4,   46,
        1948, 1852, 2752,  738,  746, 2699, 3112,   60,    1,    3,    2,
        3607, 2210, 2368, 2677, 2183,  346,   79, 1705, 3536, 1088,    1,
           1,    2,  954,  412,  610, 2352,  652, 1886,    2,    3, 3989,
        1788, 7275,    9,    4,    8,    1, 7473,   16, 5134,   67,  212,
         255,  987,  299, 1260, 3219, 3017,    1, 4048, 4356,    4,  206,
           1,    2, 1245, 1070, 1431, 1959, 2502,   12,    2,    1,    9,
           1,    1,    3,    2,    9,    1,    2,   16,    1,    8,    2,
           8,  100,  516, 2763,   19,    2,    1, 3632, 1458,   14,    1,
        1097,  526,  644,    1,    2,    7, 3391,    1,   83, 2933, 1597,
         767, 2865, 1802, 5169,  521,  482,  927,   81,   70, 4562,    3,
        2628,  385,  457, 4572,    1, 3447,   60,  216,  157,  187, 3689,
         155,  849,    1,  171]),
 array([3376, 3049,    1,  199, 3943, 3954,    1,    1,    3,    2, 2065,
           1,    1, 3926, 6845,    2,    6,    6,    7,    2, 4375, 4218,
          25, 1834, 1714, 2450,    2, 3462,    1, 2003, 1528,  846, 5206,
           1,    1,    2,   30,    1, 2945, 4280, 3390,  292, 5066, 3902,
         536,  291,    3, 4411, 1235,    1,  971, 2197, 1009,  526, 1571,
           1,  185,  486,   49,  184,    1,  168,  131,  169,   85,    1,
         266,   31,  212,  107,  835, 1364,  181,   67,    1,  382,    4,
         803,  432,  248,   10,  143,  162,    1,    1,    2,  348,  196,
        1022,    7,    5,    1, 1315,    3,  392,    2,   18,  165,    3,
          23,   54,  592,    2,  254, 3037, 2963,    3,    5,    4,  177,
           2,  118,    1,    4,    2,    2,  184,   25,   72, 2500,   11,
         285,   64,  558,  608, 1232,    1,   10,    2,   15,    2,    9,
           3,   91,  546,  138,  218,    1,    1,    2,  346,   96,   41,
         182,  251,  111,    1,  466,    1,  394,  979,    1,    1,    4,
        1589, 3004,    3,  372,   14,    2,    1,  967,    5,  264,   60,
        1372,  352,  328, 2157, 3225,    3,    1, 2366,    3,   36,  229,
        1233, 2469,    6,  275,  457,    9,  330,  441,    2, 2355,    4,
         339, 2210, 2237,    1,    8,    2,  419,    1,  641,  405,  591,
         524,  716,  340,  329,  512,    1,  674,    1, 3103,   43,   51,
           1,    2, 2202,    3,    2,  409,  190,    5,    2,    4,    2,
           1,    1,   30,    1,    1,    3,    7,  359,  130,  241,    1,
           2,    2,    3,    3,    1,    6,    3,    1,    1,  196,  341,
         457,    4,    1,  241,  347,    7,  297,  635,  163,  160,    1,
           1,    2,    3,    3,    2,  330,    1, 2702, 7193,    1,    1,
           4,    1,   12]),
 array([   2,    1,    2,    7,    1,    4,    3,    2,    9,  375,  264,
         166, 1136,  415,  569,    1,  208,  109,    3,    1,  223,  115,
         165,   81,    3,    1, 3152, 4671,  797,    2,   24,   19,    4,
         160, 6550,   10, 3983,    7,  478,    3,   22,  165,  288,  152,
           1, 1445,    1,    1,    3, 2112,    7,    0,    3,    1, 2450,
         868,  242,    1,    1,    2,    1,    4,    6,    7, 1068,  341,
          50,  127,    1,    2,  165, 1772,  569,  546,  675,  697, 1327,
           2,    1,    3,  238, 4194,  114,    2,   12,    2, 1404,   19,
        2759,    4,  237,   45,    1,  525,    2,   10, 1638,    1,    4,
           1,    2,    1, 2660, 2864,  682,   86, 6247, 6967, 2074,  180,
        6441,    2,    1, 3274, 6175, 2250,    2,    2,    2,    1,  333,
         175,    3,    3,  619,    1,    2,  905,    1,    2,  856,  253,
        1548,  421,    1,    5,    1,    3,    2,   22,  863, 2042,    3,
        6863,    1,    2,    1,  245,  189,    1,    1,    3,    1,  366,
           2,   10,    2,    2,   64,    1,    3,   24,  865,    2,    3,
           1,    1,    4,    3,    3,  347,    2,  141,    1,  169,   88,
           5,    1,  691, 1439,    7,    6,  288,  194,  449,    1,  140,
           1,    3,    1,    2,    8,    1,    5,    2,    1,  334,   25,
           1,  175,    2,   34,   18,    2,    5,   30,    1,    2,    5,
          72, 1708,    3,    2,    2,    2,    2,    1, 1185,    3,    2,
           4,  481,   21,  304,   12]),
 array([ 291, 1595, 3796,    3,    1,    4, 6087, 5487,    6,    1,    1,
           2,    4,    5,    5,    1,    1,    6,    1,    1,  427, 1213,
           4,    9,   22,   30,  134,  245, 4947,    7,    1,    5,  300,
         825,    2,  221,    1,   20,   42,    2,    1,  878,    6,   19,
        1721,    1, 4564,    2,  905,    4, 1959,  110, 6288,   34,    6,
           1,   10,   12,    9,    1,    2,   11,    3,    7,   56,    1,
          63,    1,    1,    2,   33,    8,    4,   16, 2139, 1089,  188,
         370, 6214,   94, 1948,  205, 1033,   34,    5,   17,   31,    7,
          11,    5,  108,    7,    2,    5, 2336,  588,  239, 1606, 3570,
         101, 5954, 1268, 1312, 4967,    3,    1, 5163, 2522, 1271,  449,
        3704,    1, 2470, 1500, 3490,  564,   37, 2178, 1932,    1,    1,
          12,  371,    2,    1,    3, 1006,    6,    2,    6,   15,   12,
           1, 6495,  137,  730, 1177,   74,  118,  309, 4261, 1404, 1620,
        3175, 2397, 7146, 3008,    1,  168,    6, 1025, 5834,    3,    5,
           2, 2014,    2,  750,  958,  253,  330,  244,  203, 6162, 3253,
           1,    1,  892,  219,   93,    1,    2, 3118,   14, 1474,    1,
           4,    5,    4,    1, 1278, 1424,    5,    1,    1,    1,    1,
           4,    1,    1,    2,    3,    2,    4,   13, 1957, 1039,    5,
           9, 2489,    1,    4,    1,    6,    4,    1, 3295, 4471, 3154,
          18,   13,   43,   43,  681,    1,   56,   39,  131,    3, 1083,
           1,    2,    4,    1,    3,    1,    3,  225,  232,   18,   10,
        3528,    1]),
 array([  45,    3,    4,    1,   32, 5121,    2,    1,   47, 4347,  167,
         784, 1143,   85,    1,    2,    1,    3,  164,  311,   28,  297,
        4040, 4073,  192,   96,    4,    2,    2,  184,   25,  261,    6,
           2,    1,  166, 1753,    9,   81,    2,  143,  197,    2,  233,
          66,    1,    4, 1183,  300,    1,    3,  170,   17,  119,    8,
           1,    1,    1,    5,    1,    3,    2,   22,  180,  497, 3171,
           1, 2803,  153,    1,    2,    3, 1710,    5, 4204,    1,  171,
           2,  261,    1,  194,    1,    1,    2,    1,  226,  168,  192,
           1,    1,    3,  215, 1812,    9,  508,  569,    1,    3,  358,
         410,    1,  306,  419,    3,    1,    1,    4,  167,   30,    3,
         337,  952,    6,    1,  970, 2264,   12,    9, 1627, 1695,   11,
           3,  548,    1, 1324,   98,   79,  780,    1,   63,    1,  811,
        1124,    2,   33,    8, 2829, 1434,    2,    4,    8,  212, 1168,
           1,   65,    5,    1,    2,    4, 2655,    2,    1,    6,  211,
        2741,   58,    1,    2,    3,  431,    1,    4,  173,    2,  252,
           1,    3,  393,  591,    1,    7,    2,    1,  189, 5277, 2562,
         843,    1, 3552,  150,    1,    3,    4,  136,    4,   13,  353,
         257,  353,  203,  403,   21,    1,    1,    2,    3,    3,   10,
         194,  268,   12,  244]),
 array([ 451,   79,   47,  214, 2618, 1016,  233,  535,  293,   52,   26,
          54,   30,   29, 1345,   39,    3,    1,    4,    2,    3,    1,
           8,   35,   10,   10,    7, 2071,   93,  924,  881,    1,    1,
           2,    1,   17,  176,   11, 1729, 1915, 2012,    1, 1578,    2,
           3,    3,  618, 1437,    1,    2,   56,   43,    1,    3,    1,
           3,  378,   66,  556, 1673,   17,  654, 2790,    3,    2,  739,
        4116,    1,    4,    3,    1,    1,    9,    1,    5,    1,    3,
        1449,  243,  254,  382,  108, 6607,    1,    2,    1,    5,   27,
          74,    1,  396,  116, 1581,  913,   58,    1,  450,  566,    1,
        2253,   42,   11,    1,  136,  114, 3212, 1868, 1643, 2281,    2,
        1614,    6, 1897,  163,  335,    9,  117,   52,   32,   45,  111,
        1236,    1,  345,   10,  320,    1,   84,  968,  151,  145,  339,
          41,   67,  189,    1,    2, 1065, 1698,    1,   31,  465,   31,
         730,    1,    1,    3,    1,   29,    1,    3,   63,  492, 1706,
          11,    1,  821,    3, 5031,    1,    6,   69,    1,    4,    1,
        6471,  191,  394,    1,    4,    1,    2, 1672, 2084,  273,  127,
           3,  324,    2,   72, 2862,   88, 2867, 1150,  171, 1257,  748,
         364,  125,  836, 5129,  181,  122, 1873,    1,    1,    3, 1957,
         854, 1034,    2,  309,  419,  690,    2, 2225,  143,  287,  182,
         557,    4,    3,  937, 2518,    1,  877,    1,    2,    3,   65,
          45,   43,  193,  677,    1,    2, 1972, 1294,  159,    1,   63,
         309,  221,   95,   46,  847,   21,  144,    1, 2421,  414,  114,
           1,   79]),
 array([   1,    2,    2,    2,  337,  116,  332,  106, 1592, 1000,    1,
        2288,  962,   77,  406,  229,  260,    1,   89,    1,  181, 2020,
          82,    4,  550, 6260, 5975, 1669,  946, 3003, 1417,    4, 2414,
           1,    1,  442,  976,    1,    2, 1124,  907,    2,    1,    3,
         585,    3,    8, 4824, 7259,    1,    2, 7365,    1,   18,   29,
         104,    1,    2,    2,    1, 2364,    2,  965,  202, 1992,    1,
           2,  188,  636, 4113,    1,  553, 1525,    2,    3,    1, 5954,
         334, 3415, 6101, 6126,    2, 3426, 3167,    2, 2447, 2292,  757,
        1130,    6,  503, 3316,    2,  353,    2,    4,  892,    9,  726,
         680,    8,  927,  546,  932,  571,   19,  398,  474, 1149,   12,
           4,  548, 2047,   29,    8,    4,  744, 3798, 3957,    1,  884,
        1258,    1,  661, 2148,  863,  832,  839,  502,  606,  243,    1,
           2,  448, 1750,  670, 2886,    2, 6988, 2215,   17, 1550, 7671,
        4252,   17,    8, 3292,  344, 1407, 1101,    1,    1,    2, 1992,
         520, 1440, 2134, 3180,  811, 1659,    1,  302,    1, 1319, 1431,
        1612, 4467, 1241,  342,  704, 2394,  583, 4490, 1816,    2, 3731,
         715,  609, 3069, 1387,    3, 1128,    1, 3410,  162, 2224,   23,
         297,  227,  328, 2717,  516,  306,  314,    1,  219,   62,   15,
           9,   13,  421,  531,    1, 1093,  320,    1, 1042, 2270,   67,
         398, 1700,  110,    1,  217,  234,  398,  548]),
 array([   1, 7539, 3244,    1,    2,    2,    8,    2,    3,   12,    1,
           6,    1,    1,   10,  161,    1,    1,  192,   99,    3,    1,
           1,  259,   64, 1014, 1261,    5,    1,    7, 3371, 2393,  337,
          85,  324,    1,  758, 2308,  586,    1,    3,    3,  631,   39,
          25,  538,  706, 5820,  586,    6,  110, 2085,  715,    1,    4,
           9,   10,  589,  287,  814, 1021,    1,   72,    6,  186,    1,
        1029,  453,  354,    2,    2,    2,    1,    4,    2,    1,    3,
         285,  176, 2334,    8,  315,  243,    1,    3,    2,   13,    1,
        1132, 1882, 1325,   32,    8,  631,  847,    2,    1,  400,    1,
           1,    4,    1,    1,    3,    1,  294,   35,   41,   93, 2950,
         115,  777,  817,   94,  226,  503,    3,  575,   99,  154,    3,
           3, 6207,   19, 2557,    1,    2,    1,    3,    1,    8,    2,
           1,    5,    2,    3,    1,   21,  811,  136,  540,    2,    1,
         505,  179,    1,   36,    7, 1726,  391, 1447,    1, 1218,   76,
           4,  244,    3,  415,   52, 1840, 3712,    5,    2, 1435, 2133,
        1954, 3018,    3,    4,    1,    4,    1,    1,   39,  163,  132,
         208,    1,    1,   17,    3,  579,  735,  115,    2,    4,    1]),
 array([  1,   2,   2,   1,   2,   3,  72,  56,   1,   2,   3,   4,   9,
          1,   2, 205,   1,   2,   1,   1,   3,   1,   1, 181,   1,  51,
          4,   1,   4,   5,   3,   5,   2,   7,   5,   1,  18,   1,   2,
          3,   4,   1,   1,   3,   8,   1,   1,   1,   5,   1,   3,   2,
          5,   2,   7,   2,   2,   1,   2,   6,   1,   3,   3,   3,   7,
          1,   1,   1,   4,   8,   1,   2,   9,   4,   2,   1,  34,   1,
          2,   1,   9,   1,   1,   1,   2,  13,   1,   3,   1,   2,   5,
          3,   2,   1,   2,   8,   8,   1,   3,   2,   1,   6,   3,   2,
          1,   5,   3,   1,   1,   2,  58,  13, 247,   1,   2,   2,   1,
          3,   7,   1,   3,   6,   2,   1,   2,   2, 835, 817,   1,   1,
          6,  13,   6,   5,  22,  53,   1,   1,   1,   5,   1,   1,   2,
          1,   8,   1,   2,   3,   5,   1,   1,   2,   3,  10,   1,   2,
          2,   4,   1,   2,   2,   2,  21,   1,   2,   4,   1,   5,   2,
          4,   9,   1,   1,   1,   2,   7,   1,   4,  14,   1,   1,   3,
          1,  11,   2,   1,   3,   1,  17,   1,   1,   2,   1,   7,   1,
          2,   4,   1, 446,   2,   5,   1,   3,   2,   4,   1,   2,   1,
          2,   3,   1,  27,  23,   1,   2,   1,   5,   4,   1,   1,  15,
         13,   1,   1,   4,   1,  11, 235,   3, 112, 401, 620,   2,   2,
          1, 764,   2,   3, 393, 679,   1, 216,   1, 227,   4,   2,   7,
          1,   2,   1,  12,   1,   2,   3,   4,   1,  14,   1,   3]),
 array([   3,    3,    2,    1,    2,    3,  352,    1, 1573,  869,   70,
         614,  830,   74,  896,    2, 2015,  388,  452,   48,  251,    1,
           1,    3,    1,  266,    3,  481, 1885,   59, 1323,   21,   11,
          19,   18,    2,    7,   15,    3,   34, 1721,  236,    1,    2,
           3,  313,  495,  583,    1, 1194,    1,    1,   11,    2,    3,
         387,  145, 5500,    6,    1, 4685,  627,   16,   90,    2,    3,
          84, 1493,  450, 4345, 7535,    5,    1,  502, 2353,  950,    2,
           1,    2,    2, 2504,   86,    1,    1,  226,  985,    1,    2,
           3,    1,    3, 4606,  471,    1,  403,  804,    6,    4,  217,
         735,   53,    1,   18,   96,  680,    2,    3,    1,    6,    1,
           1,    8,  783,   12, 4206,  858,  380, 1514,  381, 1244,    1,
         149,  153,    6,  571,  649,  283,  873,   19,    1,    3,    6,
           2,    3,    8,  270,   37, 1158,    1, 1049,  230,  479,   54,
         197,  200,  353,  226,  674,  560,   46,  108, 1038,  373,  160,
          52,   93,   43,   38, 1356,  932,   37,   30,   68, 7631,    1,
        1456,   77,    1,  151,  568,    1,  474,  894, 1437, 1949, 2847,
           2, 4717,    4, 1212, 2973, 1630,    3,    7,   98,    1,    2,
           4,    1,    3,    1,    3, 3017, 4632, 3337,    2, 5815,    1,
           2,    5,    2,    1,  232,  649,    2,    1,    4,  464,  554,
           3,    2,  383,    1,    1,  428,  201,  805,  211,  406,  281,
        2626,  292,    1, 1351,  494,    1,  711,  320, 3100,  158,   61,
           1,   87, 1184]),
 array([4236, 5982,    3,   82,   46,    3,   17,    3,    6, 5450, 2579,
         733, 6909,  124, 1385,  249,    3,  718,    2,  493,  530, 2176,
           4,    1, 1236,  894,  160, 5071,  190, 1033,   33,   26,   38,
           1, 7470, 2132,    1,    1,    3,    2,    3,    1, 6828, 1398,
         791,    1,    1,    2, 3220,    2,    1,    2,    2,    1,    2,
           3,    1,    7,    9,    1,    8,    2,    1,    6,   19,    4,
           1,    1,    2,    2,    1,    2,    8,  351,  668, 4791,   68,
           1,    1,    5,    3,    7,    1,    3,   10,    5,    1,    2,
           5,    4,    3,    3,    2, 2712, 4134,    1,    2,    4,    2,
           1,    3,    3,    1,    3,    6, 6368,    4,    1, 4743,    1,
           1,    1,    6,    1, 6753,    1,    7,    1,    1,    3,    2,
           7,    1,    2,    1,    2,   29, 5104, 3034,    4,    1,    1,
        5981,    3,    8, 7037,  499,  390, 4988,    1,    3,    3,    5,
           3,    3,    1,    4, 2231,    1,    1,    1,    3,    1,    3,
         391, 1029,    1, 1503, 1786,    4,  510,  414,   20,    2,  708,
         959, 3234,    2,    2,    5, 6073,    1, 1080, 3744,    1, 1358,
        6772,    1, 1938,  706, 4519, 4957, 2833, 7528,    2, 4914, 1711,
           1,    1,    2, 1206,    1, 2540, 1876,    1,    3,    1, 2264,
           2,  703, 1216, 5178, 4367, 3001,   49, 5909,    4, 1475, 3820,